.tached{
    text-decoration-line: line-through;
}
.p-titulo{height: 4em;}
.p-image{
    height: 250px;
    padding: 2em;
    object-fit: contain;
}
.p-precio{height: 4em;}

.window{
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.buy{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin-left: auto;
    background-color: gray;
    border-radius: 50%;
    overflow: hidden;
}


.precio{
    font-size: 1em;
}


/* .sidebar-submenu li{
    padding: 0!important;
} */


.sidebar-submenu li:hover{
    background-color: rgba(255, 255, 255, 0.226);
}



.sidebar-submenu input[type="checkbox"], .sidebar-submenu input[type="radio"]{
    display: none;
}


.sidebar-submenu input:checked + label{
    background-color: rgb(0, 102, 255);
}



@media screen and (max-width:576px)  {
    .precio{
        font-size: .8em;
    }
    .precio p{
        margin-top: 0;
    }
    .fa-2x{
        font-size: 1.5em;
    }
    .buy{
        height: 35px;
        width: 35px;
    }
    
}