.tached{
    text-decoration-line: line-through;
}
.p-titulo{height: 4em;}
.p-image{
    height: 250px;
    padding: 2em;
    object-fit: contain;
}
.p-precio{height: 4em;}

.window{
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.buy{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin-left: auto;
    background-color: gray;
    border-radius: 50%;
    overflow: hidden;
}

/* @media screen and max-widch 700px {
    
} */